## Unit 8 Loop-1

#### Keyword: for, in, iteration and range

#### Mission

In [4]:
breads = ["Rye bread", "Wheat", "White"]
meats = ["Meatball", "Sausage", "Chicken breast"]
vegis = ["Lettuce", "Tomato", "Cucumber"]
sauces = ["Mayonnaise", "Honey Mustard", "Chili"]

print("Possible combinations of David's sandwich shop")
for b in breads:
    for m in meats:
        for v in vegis:
            for s in sauces:
                print(b + " + " + m + " + " + v + " + " + s)

Possible combinations of David's sandwich shop
Rye bread + Meatball + Lettuce + Mayonnaise
Rye bread + Meatball + Lettuce + Honey Mustard
Rye bread + Meatball + Lettuce + Chili
Rye bread + Meatball + Tomato + Mayonnaise
Rye bread + Meatball + Tomato + Honey Mustard
Rye bread + Meatball + Tomato + Chili
Rye bread + Meatball + Cucumber + Mayonnaise
Rye bread + Meatball + Cucumber + Honey Mustard
Rye bread + Meatball + Cucumber + Chili
Rye bread + Sausage + Lettuce + Mayonnaise
Rye bread + Sausage + Lettuce + Honey Mustard
Rye bread + Sausage + Lettuce + Chili
Rye bread + Sausage + Tomato + Mayonnaise
Rye bread + Sausage + Tomato + Honey Mustard
Rye bread + Sausage + Tomato + Chili
Rye bread + Sausage + Cucumber + Mayonnaise
Rye bread + Sausage + Cucumber + Honey Mustard
Rye bread + Sausage + Cucumber + Chili
Rye bread + Chicken breast + Lettuce + Mayonnaise
Rye bread + Chicken breast + Lettuce + Honey Mustard
Rye bread + Chicken breast + Lettuce + Chili
Rye bread + Chicken breast + Tomato + Mayonnaise
Rye bread + Chicken breast + Tomato + Honey Mustard
Rye bread + Chicken breast + Tomato + Chili
Rye bread + Chicken breast + Cucumber + Mayonnaise
Rye bread + Chicken breast + Cucumber + Honey Mustard
Rye bread + Chicken breast + Cucumber + Chili
Wheat + Meatball + Lettuce + Mayonnaise
Wheat + Meatball + Lettuce + Honey Mustard
Wheat + Meatball + Lettuce + Chili
Wheat + Meatball + Tomato + Mayonnaise
Wheat + Meatball + Tomato + Honey Mustard
Wheat + Meatball + Tomato + Chili
Wheat + Meatball + Cucumber + Mayonnaise
Wheat + Meatball + Cucumber + Honey Mustard
Wheat + Meatball + Cucumber + Chili
Wheat + Sausage + Lettuce + Mayonnaise
Wheat + Sausage + Lettuce + Honey Mustard
Wheat + Sausage + Lettuce + Chili
Wheat + Sausage + Tomato + Mayonnaise
Wheat + Sausage + Tomato + Honey Mustard
Wheat + Sausage + Tomato + Chili
Wheat + Sausage + Cucumber + Mayonnaise
Wheat + Sausage + Cucumber + Honey Mustard
Wheat + Sausage + Cucumber + Chili
Wheat + Chicken breast + Lettuce + Mayonnaise
Wheat + Chicken breast + Lettuce + Honey Mustard
Wheat + Chicken breast + Lettuce + Chili
Wheat + Chicken breast + Tomato + Mayonnaise
Wheat + Chicken breast + Tomato + Honey Mustard
Wheat + Chicken breast + Tomato + Chili
Wheat + Chicken breast + Cucumber + Mayonnaise
Wheat + Chicken breast + Cucumber + Honey Mustard
Wheat + Chicken breast + Cucumber + Chili
White + Meatball + Lettuce + Mayonnaise
White + Meatball + Lettuce + Honey Mustard
White + Meatball + Lettuce + Chili
White + Meatball + Tomato + Mayonnaise
White + Meatball + Tomato + Honey Mustard
White + Meatball + Tomato + Chili
White + Meatball + Cucumber + Mayonnaise
White + Meatball + Cucumber + Honey Mustard
White + Meatball + Cucumber + Chili
White + Sausage + Lettuce + Mayonnaise
White + Sausage + Lettuce + Honey Mustard
White + Sausage + Lettuce + Chili
White + Sausage + Tomato + Mayonnaise
White + Sausage + Tomato + Honey Mustard
White + Sausage + Tomato + Chili
White + Sausage + Cucumber + Mayonnaise
White + Sausage + Cucumber + Honey Mustard
White + Sausage + Cucumber + Chili
White + Chicken breast + Lettuce + Mayonnaise
White + Chicken breast + Lettuce + Honey Mustard
White + Chicken breast + Lettuce + Chili
White + Chicken breast + Tomato + Mayonnaise
White + Chicken breast + Tomato + Honey Mustard
White + Chicken breast + Tomato + Chili
White + Chicken breast + Cucumber + Mayonnaise
White + Chicken breast + Cucumber + Honey Mustard
White + Chicken breast + Cucumber + Chili

## Key Concept

## 1. Basic of for statement

#### 1.1. Necessity of iterated statements

In [5]:
print('Welcome to everyone!!')
print('Welcome to everyone!!')
print('Welcome to everyone!!')
print('Welcome to everyone!!')
print('Welcome to everyone!!')

Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!

In [6]:
for i in range(5):
    print('Welcome to everyone!!')

Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!

#### 1.4. loop control variable

In [7]:
for i in range(5):
    print(i, 'Welcome to everyone!!')

0 Welcome to everyone!!
1 Welcome to everyone!!
2 Welcome to everyone!!
3 Welcome to everyone!!
4 Welcome to everyone!!

#### Can use _ : is an Anonymization of loop control variables -> Since the newly assigned variable i in the above loop statement is a loop that is not used in the execution statement, you can anonymized the variable by substituting it with an underscore (_) as follows.

In [8]:
for _ in range(5):
    print('Welcome to everyone!!')

Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!

## 2. range

#### 2.2. Structure of range

#### range(start = 0, end, step = 1)

In [9]:
for i in range(0.9):
    print(i, 'Welcome to everyone!!')

TypeError: 'float' object cannot be interpreted as an integer

#### 2.2. About range

In [14]:
print(list(range(0, 5, 1))) # start = 0, end = 5, step = 1, so 0, 1, 2, 3, 4 as list

[0, 1, 2, 3, 4]

In [15]:

print(list(range(0, 5, 2))) # start = 0, end = 5, step = 2, so 0, 2, 4 as list

[0, 2, 4]

In [16]:
print(list(range(2, 5))) # start = 2, end = 5, step = 1, so 2, 3, 4 as list

[2, 3, 4]

In [17]:
print(list(range(0, 10, 2))) # start = 0, end = 10, step = 2, so 0, 2, 4, 6, 8 as list

[0, 2, 4, 6, 8]

#### 2.3. Problem solving using for in range

In [21]:
s = 0
for i in range(1, 11): # start = 1, end = 10, so 1 -> 10
    s += i
print('Sum of numbers from 1 to 10:', s)

Sum of numbers from 1 to 10: 55

#### 2.4. Overlap of sum() function and variable name sum

In [22]:
print(sum(range(1, 11)))

55

#### 2.5. Computing factorial

\begin{equation}
n!=\prod_{i=0}^n k = n \cdot (n - 1) \cdot (n - 2) \cdot\cdot\cdot\cdot\cdot 3 \cdot 2 \cdot 1
\end{equation}

In [15]:
n = int(input('Enter a number: '))
fact = 1
for i in range(1, n + 1):
    fact = fact * i
print(str(n) + '! =', fact)

5! = 120

## 3. Sequence object iteration

#### 3.1. Object with order

In [36]:
numbers = [11, 22, 33, 44, 55, 66]
for n in numbers:
    print('n =', n)

n = 11
n = 22
n = 33
n = 44
n = 55
n = 66

#### 3.2. Cumulative addition code example

In [3]:
numbers = [10, 20, 30, 40, 50]
s = 0
for i in numbers:
    s += i
print('Sum of list items :', s)

Sum of list items : 150

In [4]:
numbers = [10, 20, 30, 40, 50]
print('Sum of list items :', sum(numbers))

Sum of list items : 150

#### 3.3. Converting string data type to list data type

In [5]:
st = 'Hello'
print(list(st))

['H', 'e', 'l', 'l', 'o']

#### 3.4. How to use string data type in for loops

In [8]:
for ch in 'Hello':
    print(ch, end = ' ')

H e l l o

#### Note

In [10]:
print('s', 'e', 'p', sep = '-')

s-e-p

In [11]:
print("My name is", end = " ")
print("David")

My name is David

In [13]:
print("My name is", end = " : ")
print("David")

My name is : David

#### Q1. Decalring the list bts = ['V', 'J-Hope', 'RM', 'Jungkook', 'Jin', 'Jimin', 'Suga']. Then write a code that prints all items in this list using the for statement.

In [16]:
bts = ['V', 'J-Hope', 'RM', 'Jungkook', 'Jin', 'Jimin', 'Suga']

for i in bts:
    print(i)

V
J-Hope
RM
Jungkook
Jin
Jimin
Suga

#### Q2. Use Cumulative addition to compute and print the sum of integers from 1 to 100.

In [17]:
print('Sum of integers from 1 to 100 :', sum(range(1, 101)))

Sum of integers from 1 to 100 : 5050

#### Q3. Use the step value of the range function to find the sum of even numbers from 1 to 100

In [24]:
print('Sum of even from 1 to 100 :', sum(range(0, 101, 2)))

Sum of even from 1 to 100 : 2550

#### Q4. Use the step value of the range function to find the sum of odd numbers from 1 to 100

In [26]:
print('Sum of integers from 1 to 100 :', sum(range(1, 100, 2)))

Sum of integers from 1 to 100 : 2500