## Unit 3 - Basic of Numeric Data Type and Arithmetic Operation

#### 3. Mission

#### 3.2 How printing the circumference and area of the circle wors

In [5]:
PI = 3.14
radius = float(input("Enter radius : "))
area = PI * radius * radius
circum = 2.0 * PI * radius

print('Radius of the circle : ', radius)
print('Area of the circle : ', area)
print('Circumference of the circle : ', circum)

Radius of the circle :  4.0
Area of the circle :  50.24
Circumference of the circle :  25.12

#### Key Concept

#### 1. Numeric Data Types, Arithmetic and Division

#### 1.1 Computation using numerical information

#### 1.2 Operators

#### + | Addition
#### - | Subtraction
#### * | Multiplication
#### / | Division
#### // | Floor Divsion(quotient)
#### % | Remainder
#### ** | Power

#### 1.3 Example code using operator

In [21]:
100 + 20 # Find addition of numerical value of 100 and 20

120

In [22]:
100 * 20 # Find multiplication of numerical value of 100 and 20

2000

In [23]:
100 - 20 # Find subtraction of numerical value of 100 and 20

80

In [24]:
100 / 20 # Divide of numerical value of 100 and 20

5.0

In [25]:
100 // 20 # Divide of numerical value of 100 and 20 and find the quotient

5

In [26]:
100 % 20 # Divide of numerical value of 100 and 20 and find the remainder

0

## 2. Object Data Types, Operator Priorities, and Data Type Conversion

#### 2.1. Classification of Data Types

In [27]:
10 / 2

5.0

In [28]:
'10' / 2 # string 10 divided by 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [29]:
100 * 20 # Find multiplication of numerical value of 100 and 20

2000

In [30]:
'Hello' * 2 # Find multiplication of string 'Hello' and 2

'HelloHello'

In [31]:
'100' * 2 # Find multiplication of string '100' and 2

'100100'

#### 2.2. Basic data types in Python

#### - Number

#### ex: 100, 200

#### - Boolean

#### ex: True, False

#### - String

#### ex: 'Hello'

#### - List

#### ex: [10, 20, 30]

#### - Tuple

#### ex: (10, 20, 30)

#### - Dictionary

#### ex: {
####    'name' : 'David',
####    'age' : 23,
####    'height' : 56.5
#### }

#### - float

#### ex: 3.14

#### - complex

##### ex: 4 + 3j

#### 2.3. How to distinguish data types

In [32]:
type(100)

int

In [33]:
type(100.0)

float

In [34]:
type('100')

str

In [35]:
type(10 + 3j) # Complex number data type in the form of real + imaginary numbers like 10 + 3j

complex

#### 2.4. Precedence of operators

In [36]:
10 + 20 * 30 # Multiplication is calculated first

610

In [37]:
(10 + 20) * 30 # Operator in parentheses is calculated first

900

<img src="images/Operator Precedence Chart.jpg" width="600"/>

#### 2.6. Data Type conversion

In [46]:
int('10') / 2 # Convert string '10' into integer and divide by 2.

5.0

In [47]:
'I like number ' + str(10) # Convert number 10 into string and use + operator

'I like number 10'

In [48]:
a = None
type(a)

NoneType

## 3. String Application

#### 3.1. Take a look at string

<img src="images/Take a look at string.jpg" width="600"/>

#### 3.2. String Operator + and *

In [51]:
'I' + ' Love' + ' Python' # String can be added to strings.

'I Love Python'

In [53]:
'Python ' * 10 # Generates string of 'Python' repeated 10 times

'Python Python Python Python Python Python Python Python Python Python '

In [54]:
'*' * 50 # Generates string of '*' repeated 50 times

'**************************************************'

In [57]:
str(100) * 10 # String '100' repeats 10 times

'100100100100100100100100100100'

#### Focus

#### The * operation of the string must be an integer. Otherwise , an error will occur.

In [60]:
'*' * 3.1

TypeError: can't multiply sequence by non-int of type 'float'