## Unit 16 - Set Data Types

## Keywords: set, Set calculation, Set comparison and Conditional statement

## Mission

In [1]:
cases_3times = set()
for i in range(1, 7):
    for j in range(1, 7):
        for k in range(1, 7):
            cases_3times.add((i, j, k))

total_cases = len(cases_3times)
print('Event that can happen by rolling the dice 3 times are', total_cases, 'cases.')

Event that can happen by rolling the dice 3 times are 216 cases.

#### Monopoly final code #3

In [2]:
for i in range(3, 19):
    total_cases = len(cases_3times)
    n_cases = 0
    for c in cases_3times:
        if sum(c) >= i:
            n_cases += 1
    prob = n_cases * 100 / total_cases
    print('probability of getting more than {:2d} is {:6.2f}%'.format(i, prob))

probability of getting more than  3 is 100.00%
probability of getting more than  4 is  99.54%
probability of getting more than  5 is  98.15%
probability of getting more than  6 is  95.37%
probability of getting more than  7 is  90.74%
probability of getting more than  8 is  83.80%
probability of getting more than  9 is  74.07%
probability of getting more than 10 is  62.50%
probability of getting more than 11 is  50.00%
probability of getting more than 12 is  37.50%
probability of getting more than 13 is  25.93%
probability of getting more than 14 is  16.20%
probability of getting more than 15 is   9.26%
probability of getting more than 16 is   4.63%
probability of getting more than 17 is   1.85%
probability of getting more than 18 is   0.46%

## 1. Creating Set

#### 1.2. How to make sets

In [3]:
days_list = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] # list
days_set = set(days_list)
days_set

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [4]:
fruits_tuple = ('apple', 'orange', 'water lemon') # tuple
fruits_set = set(fruits_tuple)  # making sets from tuple
fruits_set

{'apple', 'orange', 'water lemon'}

In [5]:
h_str = 'hello'
h_set = set(h_str)
h_set

{'e', 'h', 'l', 'o'}

## 2. Check the specific value in the set

#### 2.1. in operator

In [6]:
numbers = {2, 1, 3}
if 1 in numbers:    # check if 1 is in the numbers set
    print("1 is in the set.")

1 is in the set.

In [7]:
a_list = ['hello', 'world', 'welcome', 'to', 'python']
'python' in a_list # check if string 'python' is in the a_list

True

#### 2.2. Indexing in sets

In [8]:
numbers = {1, 2, 3}
numbers.add(4)
numbers

{1, 2, 3, 4}

In [9]:
numbers.remove(4)
numbers

{1, 2, 3}

## 3. Using Set

#### 3.1. Creating sets

In [10]:
set([1, 2, 3, 1, 2]) # Create set from list

{1, 2, 3}

In [11]:
set("abcdefa")  # Since string is also sequence type it is possible to convert to set

{'a', 'b', 'c', 'd', 'e', 'f'}

#### 3.2. How to declare an empty set

In [12]:
numbers = set() # Create an empty set
numbers

set()

## 4. Set Calculation

#### 4.5. Symmetric difference of sets calculation

In [13]:
s1 = {1, 2, 3, 4, 5, 6}

In [14]:
s2 = {4, 5, 6, 7, 8, 9}

In [16]:
s1 | s2 # Find union

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
s1 & s2 # Find intersection

{4, 5, 6}

In [19]:
s1 - s2 # Find difference of set

{1, 2, 3}

In [20]:
s2 - s1 # Find difference of set

{7, 8, 9}

In [21]:
s1 ^ s2 # Find symmetric difference of set

{1, 2, 3, 7, 8, 9}

#### 4.6. Several methods of set

In [22]:
s1 = {1, 2, 3, 4, 5, 6}

In [23]:
s2 = {4, 5, 6, 7, 8, 9}

In [25]:
s1.union(s2) # Find union

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [26]:
s1.intersection(s2) # Find intersection

{4, 5, 6}

In [27]:
s1.difference(s2) # Find difference

{1, 2, 3}

In [28]:
s1.symmetric_difference(s2) # Find symmetric difference of set

{1, 2, 3, 7, 8, 9}

#### 4.7. Continuous calculations are also possible

In [29]:
s1 = {1, 2, 3, 4, 5, 6}

In [30]:
s2 = {4, 5, 6, 7, 8, 9}

In [31]:
s3 = {5, 6, 9, 10, 11}

In [32]:
s1 & s2 & s3 # Find union of s1, s2 and s3

{5, 6}

In [34]:
s1 - s2 - s3 # substract elements of s2 and s3 from s1

{1, 2, 3}

#### 4.9. Calculating subset and superset

In [35]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 3}
s3 = {1, 2, 6}

In [36]:
s2.issubset(s1)

True

In [38]:
s3.issubset(s1)

False

In [39]:
s1.issuperset(s2)

True

In [40]:
s1.issuperset(s3)

False

#### 4.10. Example of calculation of coprime

In [41]:
s1 = {1, 2, 3}
s2 = {10, 20, 30}
s1.isdisjoint(s2) # checking if s1 and s2 are coprime

True

In [42]:
A = {1, 3}  # element of set A
B = {2, 4}  # element of set B
res = set()
for i in A:
    for j in B:
        res = res | {(i, j)} # product set with double for loop
AxB = res # product set AxB of A and B (not A*B)
print('A =', A)
print('B =', B)
print('AxB =', AxB) # print product set of A and B

A = {1, 3}
B = {2, 4}
AxB = {(3, 2), (1, 2), (3, 4), (1, 4)}

## 5. Set Comparison

#### 5.1. Set comparison calculation

In [43]:
A = {1, 2, 3}
B = {1, 2, 3}
A == B

True

In [44]:
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
B < A

True

## 6. Iteration Statement and Sets

#### 6.1. Approaching using iteration statement

In [45]:
numbers = {2, 1, 3}
for x in numbers:
    print(x, end = ' ')

1 2 3

#### 6.2. Order of sets

In [48]:
for x in sorted(numbers):
    print(x, end = ' ')

1 2 3

## 7. Using Conditional statement in Set Statement

#### 7.1. Use the for statement in the Shorthand

In [51]:
a = {i for i in 'apple'}

In [52]:
a

{'a', 'e', 'l', 'p'}

#### 7.2. Example of shorthand of the set

In [53]:
a = {i for i in 'pineapple' if i not in 'apl'}

In [54]:
a

{'e', 'i', 'n'}

#### Q1

In [50]:
lst = ['apple', 'mango', 'banana']
str1 = set(lst)
str1

{'apple', 'banana', 'mango'}

In [55]:
s1 = {10, 20, 30, 40}
s2 = {30, 40, 50, 60, 70}

In [56]:
s1 | s2

{10, 20, 30, 40, 50, 60, 70}

In [57]:
s1 & s2

{30, 40}

In [58]:
s1 - s2

{10, 20}

In [59]:
s1 ^ s2

{10, 20, 50, 60, 70}

In [60]:
s1.issubset(s2)

False

In [61]:
s1.issuperset(s2)

False

In [62]:
s1.isdisjoint(s2)

False

## 1. If Order is Not Important : Set

#### 1.1. Definition of set

In [63]:
numbers = {2, 1, 3} # set data type consisted of 3 numbers
numbers

{1, 2, 3}

#### 1.2. Various functions that can be applied to a set

In [65]:
a_set = {1, 5, 4, 3, 7, 4} # make set of six items
len(a_set)                 # numbers of item is 5 excluding duplication

5

In [66]:
max(a_set)

7

In [67]:
min(a_set)

1

In [68]:
sorted(a_set)

[1, 3, 4, 5, 7]

In [69]:
sum(a_set)

20

#### 1.3. Logical computational functions applicable to a set

In [70]:
a_set = {1, 0, 2, 3, 3}
all(a_set), any(a_set)

(False, True)

#### 1.4. Aliquot and greatest common factor and programming thinking

In [81]:
num = 10
divisors = []

for i in range(2, num):
    if num % i == 0:
        divisors.append(i)

print(num,'\'s true aliquot :', divisors)

10 's true aliquot : [2, 5]

In [84]:
num1 = 48
divisors1 = set()

for i in range(2, num1):
    if num1 % i == 0:
        divisors1.add(i)

print(num1,'\'s true aliquot :', divisors1)

num2 = 60
divisors2 = set()

for i in range(2, num2):
    if num2 % i == 0:
        divisors2.add(i)

print(num2,'\'s true aliquot :', divisors2)

48 's true aliquot : {2, 3, 4, 6, 8, 12, 16, 24}
60 's true aliquot : {2, 3, 4, 5, 6, 10, 12, 15, 20, 30}

In [86]:
print(divisors1.intersection(divisors2))
print(num1, num2, '\'s maximum divisor :', max(divisors1.intersection(divisors2)))

{2, 3, 4, 6, 12}
48 60 's maximum divisor : 12

## 2. Aggregation Using Zip Function

#### 2.1. The characteristics of the zip function and repeatable data types

#### 2.2. Example code using zip function

In [87]:
empty_iterator = zip()
result = set(empty_iterator)
result

set()

#### 2.3. Aggregation example of using zip function

In [94]:
a = [10, 20, 30]
b = ('ten', 'twenty', 'thirty')
for val in zip(a, b):
    print(val)

(10, 'ten')
(20, 'twenty')
(30, 'thirty')

#### 2.4. Precautions for using zip function

In [95]:
lst = ['a', 'b', 'hello', 'this']
my_iterator = zip(lst)
result = set(my_iterator)
result

{('a',), ('b',), ('hello',), ('this',)}