## Unit 15 - Dictionary Method 2

## Mission

In [5]:
tele_dir_dic = {
    'Chinese restaurant' : ('010-1234-4500'),
    'Japanese restaurant' : ('010-2230-6540'),
    'Italian restaurant' : ('010-3232-7788'),
}
print('previous number')

for key, value in tele_dir_dic.items():
    print(key + " :", value)
for key, value in tele_dir_dic.items():
    adr, review = input(key + ' Please write address and review of: ').split()
    update = (value, adr, review)
    tele_dir_dic[key] = update
print('Updated number')
for key, value in tele_dir_dic.items():
    print(key + " :", value)

previous number
Chinese restaurant : 010-1234-4500
Japanese restaurant : 010-2230-6540
Italian restaurant : 010-3232-7788
Updated number
Chinese restaurant : ('010-1234-4500', 'hh', 'hh')
Japanese restaurant : ('010-2230-6540', 'hh', 'hh')
Italian restaurant : ('010-3232-7788', 'hh', 'hh')

## Key Concept

## 1. Converting List and Tuple to Dictionary

#### 1.2. Make dictionary using fromkeys method

In [8]:
keys = ['a', 'b', 'c', 'd']
x = dict.fromkeys(keys)
x

{'a': None, 'b': None, 'c': None, 'd': None}

In [9]:
keys = ('a', 'b', 'c', 'd')
x = dict.fromkeys(keys)
x

{'a': None, 'b': None, 'c': None, 'd': None}

#### 1.3. Why do we need defaultdict method?

In [10]:
x = {'a' : 0, 'b' : 0, 'c' : 0, 'd' : 0}
x['z']

KeyError: 'z'

#### 1.4. How to use defaultdict

In [12]:
from collections import defaultdict     # bring defaultdic from collections module

keys = ('a', 'b', 'c', 'd')
y = dict.fromkeys(keys, 100)
y = defaultdict(int)

In [13]:
y['z']

0

In [14]:
y

defaultdict(int, {'z': 0})

In [15]:
int()

0

In [16]:
from collections import defaultdict

word = 'abcbaabca'
counter = defaultdict(int)
for letter in word:
    counter[letter] += 1

counter

defaultdict(int, {'a': 4, 'b': 3, 'c': 2})

#### 1.6. Precautions of defaultdict

In [21]:
list_dict = defaultdict(list)
list_dict

defaultdict(list, {})

In [22]:
list_dict['list1']

[]

## 2. Print Dictionary Using Loop Statements

#### 2.1. Printing using for iteration statement

In [23]:
x = {
    'a' : 10,
    'b' : 20,
    'c' : 30,
    'd' : 40
}

for i in x:
    print(i, end = ' ')

a b c d

#### 2.2. Example of printing using for iteration statement

In [24]:
x = {
    'a' : 10,
    'b' : 20,
    'c' : 30,
    'd' : 40
}

for key, value in x.items():
    print(key, value)

a 10
b 20
c 30
d 40

In [25]:
x = {
    'a' : 10,
    'b' : 20,
    'c' : 30,
    'd' : 40
}

for value in x.values():
    print(value, end = ' ')

10 20 30 40

## 3. Dictionary in Dictionary

#### 3.1. Example code of double dictionary

In [27]:
terresrial_planet = {
    'Mercury' : {
        'mean_radius' : 2439.7,
        'mass' : 3.3022E+22,
        'orbital_period' : 87.969
    },
    'Venus' : {
        'mean_radius' : 6051.8,
        'mass' : 4.8676E+24,
        'orbital_period' : 224.70069
    },
    'Earth' : {
        'mean_radius' : 6371.0,
        'mass' : 5.97219E+24,
        'orbital_period' : 365.25641
    },
    'Mars' : {
        'mean_radius' : 3389.5,
        'mass' : 6.4185E+23,
        'orbital_period' : 686.9600
    }
}

## 4. Assignment and Copying of Double dictionaries

#### 4.1. Assignment and copying

In [28]:
x = {
    'a' : 0,
    'b' : 0,
    'c' : 0,
    'd' : 0
}
y = x

In [29]:
x is y

True

In [30]:
y['a'] = 99

In [31]:
y

{'a': 99, 'b': 0, 'c': 0, 'd': 0}

In [32]:
x

{'a': 99, 'b': 0, 'c': 0, 'd': 0}

#### 4.3. The result of copying using copy

In [33]:
x = {
    'a' : 0,
    'b' : 0,
    'c' : 0,
    'd' : 0
}
y = x.copy()

In [34]:
x is y

False

In [35]:
x == y

True

#### Q1

In [83]:
student_tup = (
    ('211101', 'David Doe', '010-1234-4500'),
    ('211102', 'John Smith', '010-2230-6540'),
    ('211103', 'Jane Carter', '010-3232-7788')
)

student_dic = {}

for student in student_tup:
    student_dic[student[0]] = [student[1], student[2]]

for k, v in student_dic.items():
    print("{ " + '{} : {}'.format(k, v) + " }")

{ 211101 : ['David Doe', '010-1234-4500'] }
{ 211102 : ['John Smith', '010-2230-6540'] }
{ 211103 : ['Jane Carter', '010-3232-7788'] }

#### Q2

In [93]:
student_tup = (
    ('211101', 'David Doe', '010-1234-4500'),
    ('211102', 'John Smith', '010-2230-6540'),
    ('211103', 'Jane Carter', '010-3232-7788')
)

student_dic = {}

for student in student_tup:
    student_dic[student[0]] = [student[1], student[2]]

search_info = input("Enter student ID number : ")
if search_info in student_dic:
    student_info = student_dic[search_info]
    print('Name :', student_info[0])
    print('Phone Number :', student_info[1])
else:
    print("Student ID not found.")

Name : David Doe
Phone Number : 010-1234-4500

## Let's Code

## 1. Repeat using dictionary methods

#### 1.1. The return form of items

In [56]:
phone_book = {
    "David Doe" : "010-1234-5678",
    "John Smith" : "010-1234-5679",
    "Jane Carter" : "010-1234-5680",
}

phone_book.items()

dict_items([('David Doe', '010-1234-5678'), ('John Smith', '010-1234-5679'), ('Jane Carter', '010-1234-5680')])

#### 1.2. keys method

In [57]:
phone_book.keys()

dict_keys(['David Doe', 'John Smith', 'Jane Carter'])

#### 1.3. values method

In [58]:
phone_book.values()

dict_values(['010-1234-5678', '010-1234-5679', '010-1234-5680'])

## 2. Module Definition and Import Statement

#### 2.2. A datetime module that can receive and manipulate date and time module

In [59]:
import datetime
datetime.datetime.now()

datetime.datetime(2023, 9, 2, 15, 25, 38, 232162)

#### 2.3. today method

In [63]:
today = datetime.date.today()
print(today)

2023-09-02

In [64]:
today

datetime.date(2023, 9, 2)

In [65]:
today.year

2023

In [66]:
today.month

9

In [67]:
today.day

2

#### 2.4. dir function

In [68]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', 'UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

#### 2.5. replace method

In [70]:
start_time = datetime.datetime.now()
start_time.replace(month = 12, day = 25)

datetime.datetime(2023, 12, 25, 15, 27, 47, 677390)

#### 2.6. as syntax

In [71]:
import datetime as dt
start_time = dt.datetime.now()
start_time.replace(month = 12, day = 25)

datetime.datetime(2023, 12, 25, 15, 28, 23, 262820)

#### 2.7. from ~ import ~ statement

In [72]:
from datetime import datetime
start_time = datetime.now()
start_time.replace(month = 12, day = 25)

datetime.datetime(2023, 12, 25, 15, 29, 28, 708723)

In [73]:
from datetime import *
today = date.today()
today

datetime.date(2023, 9, 2)

#### 2.8. time module

In [74]:
import time
seconds = time.time()
print('Time after epoxy =', seconds)

Time after epoxy = 1693643612.4525847

In [100]:
import time
unix_timestamp = time.time()
local_time = time.localtime(unix_timestamp)
local_time

time.struct_time(tm_year=2023, tm_mon=9, tm_mday=2, tm_hour=16, tm_min=8, tm_sec=48, tm_wday=5, tm_yday=245, tm_isdst=0)

In [101]:
import time
unix_timestamp = time.time()
local_time = time.localtime(unix_timestamp)
print(time.strftime('%Y-%m-%d %H:%M:%S', local_time))

2023-09-02 16:10:17

#### 2.10. Print the built-in functions of the math module using dir

In [102]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

#### 2.11. Learn the functions of math-related modules math

In [104]:
import math as m
m.pow(3, 3) # 3 to 3 squares

27.0

In [105]:
m.fabs(-99) # The absolute value of -99

99.0

In [106]:
m.ceil(2.1) # 2.1 round up

3

In [111]:
m.ceil(-2.1) # -2.1 round up

-2

In [112]:
m.floor(2.1) # 2.1 round down

2

In [113]:
m.log(2.71828)

0.999999327347282

In [114]:
m.log(100, 10) # value of 100 with logarithm 10 as the bottom

2.0

#### 2.12. Triagonometric functions using radians

In [115]:
import math as m

m.sin(0.0) # value of sin 0

0.0

In [116]:
m.sin(90.0) # does not use general angle of 90.0

0.8939966636005579

In [119]:
m.sin(m.pi/2) # radian notation

1.0

#### Q1

In [99]:
student_tup = (
    ('211101', 'David Doe', '010-123-1111'),
    ('211102', 'John Smith', '010-123-2222'),
    ('211103', 'Jane Carter', '010-123-3333')
)

student_dic = {}

for student in student_tup:
    student_dic[student[0]] = [student[1], student[2]]
    print("{} : {}".format(student[0], student[1]))



search_info = input("Enter student ID number : ")
if search_info in student_dic:
    student_info = student_dic[search_info]
    print('Name :', student_info[0])
    print('{} student is {} and phone number is {}'.format(student[0], student[1], student[2]))
else:
    print("Student ID not found.")

211101 : David Doe
211102 : John Smith
211103 : Jane Carter
Name : Jane Carter
211103 student is Jane Carter and phone number is 010-123-3333