## Unit 11 - Dictionary Data Types

## Mission

In [4]:
menu = {
    'Americano' : 3000, 
    'Ice Americano' : 3500,
    'Cappuccino' : 4000,
    'Cafe Latte' : 4500,
    'Espresso' : 3600
}

for key in menu:
    print("{:16s} Price : {:,}KRW".format(key, menu[key]))

Americano        Price : 3,000KRW
Ice Americano    Price : 3,500KRW
Cappuccino       Price : 4,000KRW
Cafe Latte       Price : 4,500KRW
Espresso         Price : 3,600KRW

In [6]:
print('Americano        Price : 3,000KRW')
print('Ice Americano    Price : 3,500KRW')
print('Cappuccino       Price : 4,000KRW')
print('Cafe Latte       Price : 4,500KRW')
print('Espresso         Price : 3,600KRW')
choice = input('Select one menu from the list:')
if choice in menu.keys():
    print('{} is {:,}KRW. Please make a payment.'.format(choice, menu[choice]))
else:
    print('Sorry. {} is not in the menu.'.format(choice))

Americano        Price : 3,000KRW
Ice Americano    Price : 3,500KRW
Cappuccino       Price : 4,000KRW
Cafe Latte       Price : 4,500KRW
Espresso         Price : 3,600KRW
Cafe Latte is 4,500KRW. Please make a payment.

## 1. Dictionary Declaration

#### 1.1. Definition of dictionary

In [7]:
person = {
    'Name' : 'David Doe',
    'Age' : 26,
    'Weight' : 82
}

In [8]:
person['Name']

'David Doe'

In [9]:
person['Age']

26

In [10]:
person['Weight']

82

#### 2.2. Example code for dictionary key-value

In [15]:
students = {
    2019001 : 'John Smith',
    2019002 : 'Jane Carter',
    2019003 : 'Peter Kelly'
}
students[2019001]

'John Smith'

In [14]:
students[2019002]

'Jane Carter'

In [16]:
students[2019003]

'Peter Kelly'

## 3. Key Approach and Value Assignment of Dictionary

#### 3.2. Item insertion and change in dictionary

In [18]:
person = {
    'Name' : 'David Doe',
    'Age' : 26,
    'Weight' : 82
}

In [19]:
person['Job'] = 'Data Scientist'

In [20]:
person

{'Name': 'David Doe', 'Age': 26, 'Weight': 82, 'Job': 'Data Scientist'}

In [21]:
person = {
    'Name' : 'David Doe',
    'Age' : 26,
    'Weight' : 82
}

In [23]:
person['Age'] = 27

In [24]:
person

{'Name': 'David Doe', 'Age': 27, 'Weight': 82}

#### 3.3. Deleting an item in dictionary

In [26]:
person = {
    'Name' : 'David Doe',
    'Age' : 26,
    'Weight' : 82
}

In [27]:
del person['Age']

In [28]:
person

{'Name': 'David Doe', 'Weight': 82}

In [29]:
person = {
    'Name' : 'David Doe',
    'Age' : 26,
    'Weight' : 82
}

In [30]:
del person['Hometown']

KeyError: 'Hometown'

#### 3.4. Functions and operators for dictionary

In [31]:
person = {
    'Name' : 'David Doe',
    'Age' : 26,
    'Weight' : 82
}

In [33]:
len(person) # Return the number of items in dictionary

3

In [38]:
'Name' in person # 'Name' is found in the key

True

In [39]:
'Job' in person # 'Job' is not found in the key

False

In [40]:
'David Doe' in person # 'David Doe' is found in the value but not in the key (caution)

False

In [41]:
'David Doe' not in person # Returns True because 'David Doe' is not found in the key

True

In [42]:
d1 = {
    'Name' : 'David Doe',
    'Age' : 26
}

In [44]:
d2 = {
    'Age' : 26,
    'Name' : 'David Doe'
}

In [45]:
d1 == d2

True

In [46]:
d1 != d2

False

#### 3.5. Comparison operation is not applicable in dictionary

In [47]:
d1 > d2

TypeError: '>' not supported between instances of 'dict' and 'dict'

## 4. json Data Dictionary / List Conversion

#### 4.5. Example code to convert json data into dictionary

In [6]:
import json

data = '{"Name": "David Doe", "Age" : 25, "Hobby" : ["basketball"], \
"Family" : {"father": "John Doe", "mother" : "Marry Doe"}, "Married" : true}'


json_data = json.loads(data)

print(type(json_data))
print(json_data['Name'])
print(json_data['Family'])
print(json_data['Married'])

<class 'dict'>
David Doe
{'father': 'John Doe', 'mother': 'Marry Doe'}
True

In [82]:
import json

data = '{"title" : "The Old man and The Sea", "ISBN" : "12345", "Author" : "Penh Polydet"}'

json_data = json.loads(data)

with open('book.json', 'w') as f:
    json.dump(json_data, f, indent = '\t')

#### Q1

In [18]:
capital_dic = {
    "Korea" : "Seoul",
    "China" : "Beijing",
    "USA" : "Washington DC",
}
for cap in capital_dic:
    print('key : {:16s} \nvalue : {:}'.format(cap, capital_dic[cap]))

capital_dic["Korea"]

key : Korea
value : Seoul
key : China
value : Beijing
key : USA
value : Washington DC

'Seoul'

#### Q2

In [24]:
fruits_dictionary = {
    "apple" : 5000,
    "banana" : 4000,
    "grape" : 5300,
    "melon" : 6500
}

for fruits in fruits_dictionary:
    print("The price of an {} is {} KRW".format(fruits, fruits_dictionary[fruits]))

The price of an apple is 5000 KRW
The price of an banana is 4000 KRW
The price of an grape is 5300 KRW
The price of an melon is 6500 KRW

## Let's Code

## 1. Dictionary

#### 1.1. Structure of dictionary

#### 1.2. Dictionary declaration

In [5]:
phone_book = {} # Create an empty dictionary

In [6]:
phone_book["David"] = "010-1234-5678"

#### 1.3. How to operate dictionary

In [7]:
print(phone_book)

{'David': '010-1234-5678'}

In [8]:
phone_book = {"David" : "010-1234-5678"}

In [9]:
phone_book["John"] = "010-1234-5679"
phone_book["Daniel"] = "010-1234-5680"
print(phone_book)

{'David': '010-1234-5678', 'John': '010-1234-5679', 'Daniel': '010-1234-5680'}

## 2. Comparison of the list and dictionary

#### 2.2. How to delete an item in the list

In [12]:
lst = [11, 22, 33, 44, 55]
print('before pop(0) :', lst)
print('before pop(0) lst[1] =', lst[1])
lst.pop(0)  # Use index 0 to delete the first item of the list
print('after pop(0) :', lst)
print('after pop(0) lst[1] =', lst[1]) # The value referred by lst[1] changes

before pop(0) : [11, 22, 33, 44, 55]
before pop(0) lst[1] = 22
after pop(0) : [22, 33, 44, 55]
after pop(0) lst[1] = 33

In [16]:
dic = {
    0 : 11,
    1 : 22,
    2 : 33,
    3 : 44,
    4 : 55
}

# Print the items() function that returns the tuple pair (key-value) of dictionary
print('before pop(0) :', dic.items())
print('before pop(0) dic[1] =', dic[1])
dic.pop(0)  # Items (0, 11) are selected with the key 0
print('after pop(0) :', dic.items())
print('after pop(0) dic[1] =', dic[1]) # The value referred by dic[1] does not change

before pop(0) : dict_items([(0, 11), (1, 22), (2, 33), (3, 44), (4, 55)])
before pop(0) dic[1] = 22
after pop(0) : dict_items([(1, 22), (2, 33), (3, 44), (4, 55)])
after pop(0) dic[1] = 22

## 3. Formatting for better print

#### 3.1. format as print method

In [17]:
'{} Python!'.format('Hello')

'Hello Python!'

In [18]:
'I like {} and {}'.format('Python', 'Java')

'I like Python and Java'

#### 3.2. Index for print

In [19]:
'I like {0} and {1}'.format('Python', 'Java')

'I like Python and Java'

In [20]:
'I like {1} and {0}'.format('Python', 'Java')

'I like Java and Python'

In [21]:
'I like {0}, {0}, {0}'.format('Python', 'Java')

'I like Python, Python, Python'

In [22]:
print('12345678901234567890')
print('{0:4d}, {0:5d}, {0:6d}'.format(123))

12345678901234567890
 123,   123,    123

#### 3.3. Field width designation for neat printing

In [23]:
'Precision of two decimal places : {0:.2f}, Precision of three decimal places {0:.3f}'.format(1/3)

'Precision of two decimal places : 0.33, Precision of three decimal places 0.333'

In [24]:
'Real numbers for 10 spaces : {0:10.3f}, {0:10.4f}'.format(3.1415926)

'Real numbers for 10 spaces :      3.142,     3.1416'

In [25]:
for i in range(2, 11, 2):
    print('{0:3d} {1:4d} {2:5d}'.format(i, i * i, i * i * i))

  2    4     8
  4   16    64
  6   36   216
  8   64   512
 10  100  1000

#### Q1

In [29]:
fruits_dictionary = {
    "apple" : 6000,
    "melon" : 3000,
    "banana" : 5000,
    "grape" : 4000
}

print(fruits_dictionary.keys())
if "apple" in fruits_dictionary:
    print("apple is in fruit_dic")
if "mango" not in fruits_dictionary:
    print("apple is not in fruit_dic")

dict_keys(['apple', 'melon', 'banana', 'grape'])
apple is in fruit_dic
apple is not in fruit_dic

## Unit 12 - Sequence Data Types