## Unit 10 - List and Tuple Data Types

#### Keywords: List, Indexing, Slicing, in/not in operators and Tuple

## Mission

In [3]:
person1 = ['David Doe', 20, 1, 180.0, 100.0]
person2 = ['John Smith', 25, 1, 170.0, 70.0]
person3 = ['Jane Carter', 22, 0, 169.0, 60.0]
person4 = ['Peter Kelly', 40, 1, 150.0, 50.0]

person_list = person1 + person2 + person3 + person4

n_persons = int(len(person_list) / 5)
age_sum = 0.0
for age in person_list[1::5]:
    age_sum += age
average_age = float(age_sum) / n_persons
print('the average age is ' + str(average_age))

the average age is 26.75

## Keyconcept

## 1. List and Dictionary

#### 1.1. Efficient data processing

In [4]:
score0 = 87
score1 = 84
score2 = 95
score3 = 67
score4 = 88
score5 = 94
score6 = 63
print(score0, score3)

87 67

## 2. List Declaration

#### 2.1. What is list?

In [5]:
score_list = [87, 84, 95, 67, 88, 94, 63]
score_list

[87, 84, 95, 67, 88, 94, 63]

In [1]:
score_list = [87, 84, 95, 67, 88, 94, 63]
print(score_list[0], score_list[3])

87 67

#### 2.2. List and index

In [3]:
fruits = ['banana', 'apple', 'orange', 'kiwi'] # list with strings
print(fruits)
mixed_list = [100, 200, 'apple', 400] # Python list can have different data types including integers, real numbers, strings, etc.
print(mixed_list)

['banana', 'apple', 'orange', 'kiwi']
[100, 200, 'apple', 400]

#### 2.3. The range function to create a sequence

In [5]:
list4 = list(range(1, 10))
list4

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## 3. List and Indexing and Calculating Length

#### 3.1. Definitions: List, index, indexing

List is a data structure that can hold a single value in a single variable or data value.

- It is much more convenient and efficient than writing and handling multiple variable names.
- Duplication and operation can be done at one time.

element or item

- The items or elements form a list.
- Data values are distinguished with a comma to save them.
- The reference is importing the list and uses the index.
- The declaration of the list and the reference of the elements can be done as follows

#### 3.2. List indexing and calculating length

In [7]:
n_list = [11, 22, 33, 44, 55, 66]
print(n_list)
print(len(n_list))

[11, 22, 33, 44, 55, 66]
6

In [11]:
n_list[0] # The index of the first item of list is 0

11

In [12]:
n_list[1] # The index of the second item of list is 1

22

#### 3.3. Cautions in list indexing

In [14]:
n_list = [11, 22, 33, 44, 55, 66] # index with 6 elements
n_list[5]                         # The last element value of the list

66

In [13]:
n_list[6]

IndexError: list index out of range

#### 3.4. Negative index

In [16]:
n_list = [11, 22, 33, 44, 55, 66]

In [17]:
n_list[-2]

55

In [18]:
n_list[-3]

44

## 4. Addition, Deletion, and Expansion of List Elements

## 4.1. + calculation to add lists

In [20]:
person1 = ['David Doe', 20, 1, 180.0, 100.0]
person2 = ['John Smith', 25, 1, 170.0, 70.0]

person_list = person1 + person2 # add items of two lists to make a single list
print(person_list)

['David Doe', 20, 1, 180.0, 100.0, 'John Smith', 25, 1, 170.0, 70.0]

#### 4.2. The append method for list element addition

In [24]:
a_list = ['a', 'b', 'c', 'd', 'e']
a_list.append('f') # add 'f'
a_list

['a', 'b', 'c', 'd', 'e', 'f']

In [25]:
n_list = [10, 20, 30, 40]
n_list.append(50) # add 50
n_list

[10, 20, 30, 40, 50]

#### 4.3. The extend method for list elements addition

In [32]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list1.extend(list2)
list1

['a', 'b', 'c', 1, 2, 3]

In [33]:
list1.extend('d')
list1

['a', 'b', 'c', 1, 2, 3, 'd']

In [34]:
list1 = [11, 22, 33, 44]
list1.append([55, 66])
list1

[11, 22, 33, 44, [55, 66]]

In [40]:
list1 = [11, 22, 33, 44]
list1.extend([55, 66])
list1

[11, 22, 33, 44, 55, 66]

#### 4.4. Methods to delete list element

#### 4.5. Deletion with the del keyword

In [41]:
n_list = [11, 22, 33, 44]
print(n_list) # print the entire items

del n_list[3] # Delete 44
print(n_list)

[11, 22, 33, 44]
[11, 22, 33]

#### 4.6. Deletion with the pop method

In [3]:
n_list = [10, 20, 30]
print(n_list) # print the entire items

[10, 20, 30]

In [4]:
n = n_list.pop()
print('n =', n)
print('n_list =', n_list)

n = 30
n_list = [10, 20]

#### 4.7. Deletion with the remove method

In [6]:
n_list = [11, 22, 33, 44, 55, 66]
print(n_list)

n_list.remove(44)
print(n_list)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 55, 66]

#### 4.8. Cautions when deleting with the remove method

In [7]:
n_list = [11, 22, 33, 44, 55, 66]
print(n_list)

n_list.remove(88)
print(n_list)

[11, 22, 33, 44, 55, 66]

ValueError: list.remove(x): x not in list

## 5. List Slicing

#### 5.2. Slicing example

In [12]:
a_list = [10, 20, 30, 40, 50, 60, 70, 80]
a_list[1:5] # index start from 1 end 5 so 1 -> 4 index will print out or sliced from the second element 20 to the fifth element 50.

[20, 30, 40, 50]

In [25]:
a_list[0:5] # index start from 0 end 5 so 0 -> 4 index will print out or sliced from the first element 10 to the fifth element 50.

[10, 20, 30, 40, 50]

In [24]:
a_list[1:] # index start from 1 to the end so 1 -> 7 index will print out or sliced from the second element 20 to the last element.

[20, 30, 40, 50, 60, 70, 80]

In [23]:
a_list[:5] # index start from 0 end 5 so 0 -> 4 index will print out or sliced from the first element 10 to the fifth element 50.

[10, 20, 30, 40, 50]

In [22]:
a_list[:] # index start from 0 to the rest so 0 -> 7 will print out or omitting all indices, slice from the first element to the last element.

[10, 20, 30, 40, 50, 60, 70, 80]

#### 5.3. Summary of list slicing

Python tray supports negative indices and negative cutoff step values

<table>
<tr>
   <td><strong>Syntax</strong></td>
   <td><strong>Function</strong></td>
<tr>
   <td>a_list[start:end]</td>
   <td>Slice elements from start to (end-1) (does not include end index elements)</td>
<tr>
   <td>a_list[start:]</td>
   <td>Cutting from the beginning to the end of the list. Cutting off the end of the list.</td>
<tr>
   <td>a_list[:final]</td>
   <td>Cutting from start to end index-1</td>
<tr>
   <td>a_list[:]</td>
   <td>Severing the entire list</td>
</tr>
   <td>a_list[start:end:steps]</td>
   <td>Cutting a step from start to finish</td>
</tr>
   <td>a_list[-2:]</td>
   <td>Cut two elements from the end</td>
</tr>
   <td>a_list[-2:]</td>
   <td>Cut entire articles from the beginning, except the last two elements</td>
</tr>
   <td>a_list[::-1]</td>
   <td>Import all articles but cut in reverse order</td>
</tr>
   <td>a_list[1::-1]</td>
   <td>Slice the first two elements in reverse order</td>
</tr>
</table>

#### 5.4. List slicing with the start and end indices stated

a_list[1:5]: Imports the items from a_list[1] to a_list[5-1].

In [29]:
a_list = [10, 20, 30, 40, 50, 60, 70, 80]
a_list[1:5]

[20, 30, 40, 50]

#### 5.5. Omitting the last index

a_list[1:]: Import form a_list[1] until the last item of the list

In [30]:
a_list[1:]

[20, 30, 40, 50, 60, 70, 80]

#### 5.6. Omitting both the start and end indices

[:] method slicing: Import all items of the list

In [31]:
a_list[:]

[10, 20, 30, 40, 50, 60, 70, 80]

#### 5.7. List slicing of negative indices

The index of the end element becomes -1, and the elements in front of it are assigned -2, -3, ...

#### 5.8. Slicing with using negative indices

a_list[-7: -2]: Import the items of a_list[-7] into a_list[-2-1] using the negative index range.
As a result, it will include [20, 30, 40, 50, 60].

In [32]:
a_list[-7:-2]

[20, 30, 40, 50, 60]

#### 5.9. Omitting the last index from negative indices

If you omit the last index when using negative indices, it will import until the last items of the list as follows.

In [33]:
a_list[-7:]

[20, 30, 40, 50, 60, 70, 80]

####  5.10. Omitting the first index from negative indices

Omitting the first index is possible for slicing using negative indices.

a_list[:-2]: Imports the indices from the first item up to (-2-1) = -3 index

In [34]:
a_list[:-2]

[10, 20, 30, 40, 50, 60]

## 6. Examining Internal List Values

#### 6.1. in operator

In [35]:
a_list = [10, 20, 30, 40]
10 in a_list

True

In [36]:
50 in a_list

False

In [37]:
10 not in a_list

False

In [38]:
50 not in a_list

True

In [39]:
for n in a_list:
    print(n, end = " ")

10 20 30 40

#### 6.2. Using the in operator

In [41]:
n_list = [11, 22, 33, 44, 55, 66]
print(80 in n_list) # 88 is not in the n_list
print(55 in n_list) # 55 is in the n_list

False
True

Avoid an error in advance by using the "in" operation.

Check if there is a value to be deleted. Delete with the remove method only if there is a value for deletion.

In [43]:
n_list = [11, 22, 33, 44, 55, 66]
if (55 in n_list):      # if 55 is an element of the list
    n_list.remove(55)   # Delete 55 from the list
if (88 in n_list):      # if 88 is an elemment of the list
    n_list.remove(88)   # Delete 88 from the list
print(n_list)

[11, 22, 33, 44, 66]

## 7. Tuple

#### 7.1. Immutable and mutable data types

<img src='./images/Python data types.jpg' width='600'>

#### 7.2. Data type in which the values cannot be changed once created: Tuple

In [44]:
colors = ("red", "green", "blue")
colors

('red', 'green', 'blue')

In [48]:
numbers = (1, 2, 3, 4, 5)
numbers

(1, 2, 3, 4, 5)

In [49]:
t1 = (1, 2, 3, 4, 5)
t1[0] = 100

TypeError: 'tuple' object does not support item assignment

#### Q1. Create prime_list that has prime numbers between 2~10 as its elements. Then, use list indexing to the first element of the list and print as shown below.

In [51]:
prime_list = [2, 3, 4, 5, 6, 7, 8, 9, 10]
print('1st element of prime_list:', prime_list[0])

1st element of prime_list: 2

#### Q2. Create prime_list that has prime numbers between 1~10 as its elements. Then, use the append method to add 11.

In [54]:
prime_list = [2, 3, 5, 7]
print('Prime numbers :', prime_list)
prime_list.append(11)
print('Prime numbers after addition :', prime_list)

Prime numbers : [2, 3, 5, 7]
Prime numbers after addition : [2, 3, 5, 7, 11]

#### Q3. For the list1 and list2, use the nested for loop to multiply each elements of list1 and list2 and then print the result with the element multiplication result.

In [57]:
list1 = [3, 5, 7]
list2 = [2, 3, 4, 5, 6]
for i in list1:
    for j in list2:
        print('{} * {} = {}'.format(i, j, i * j))

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

#### Q1

In [9]:
s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']
for i in s_list:
    if len(i) < len(s_list[0]):
        s_list[0] = i
print(s_list[0])

abc

#### Q2

In [10]:
s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']
for i in s_list:
    if len(i) > len(s_list[0]):
        s_list[0] = i
print(s_list[0])

bcdefg

#### Q3

In [5]:
s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']
s_list.sort(key=len)
for i in s_list: 
    if len(i) == len(s_list[0]): print(i)

abc
bcd
opq

In [58]:
s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']
s_list.sort(key=len)
print([i for i in s_list if len(i) == len(s_list[0])])

['abc', 'bcd', 'opq']