In [2]:
population_a = (100, 150, 230, 120, 180, 100, 140, 95, 81, 21, 4)
population_b = (300, 420, 530, 420, 400, 300, 40, 5, 1, 1, 1)
oldA = sum(population_a[7:])
oldB = sum(population_b[7:])
sumA, sumB = sum(population_a), sum(population_b)

oldRateA, oldRateB = oldA/sumA, oldB/sumB

print('The degrees of aging in town A and B are {:5.3f} and {:5.3f} respectively.'.format(oldRateA, oldRateB))

The degrees of aging in town A and B are 0.165 and 0.003 respectively.

## Key Concept

## 1. Searching a Specific Value

#### 1.2. Member operator in, not in

In [3]:
list1 = [10, 20, 30, 40]
10 in list1

True

In [4]:
list1 = [10, 20, 30, 40]
10 not in list1

False

#### 1.3. Using the "in" operator

In [5]:
tup = (1, 2, 3, 4)
3 in tup

True

In [6]:
11 in range(10)

False

In [7]:
'a' in 'abcd'

True

## 2. Linking Sequence Objects

#### 2.1. Linking sequence objects

In [8]:
list1 = [11, 22, 33, 44]
list2 = [55, 66]
print(list1)
print(list1 + list2)

[11, 22, 33, 44]
[11, 22, 33, 44, 55, 66]

#### 2.2. Linking sequence objects

In [9]:
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
print(tup1 + tup2)

(1, 2, 3, 4, 5, 6)

In [10]:
str1 = 'hello '
str2 = 'world'
print(str1 + str2)

hello world

#### 2.3. Possible error from linking sequence objects

In [11]:
list(range(10)) + list(range(10, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
tuple(range(10)) + tuple(range(10, 20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

## 3. Iterating Sequence Objects

#### 3.1. Iterating sequence objects

In [14]:
list1 = [11, 22, 33, 44] * 2
print(list1)

[11, 22, 33, 44, 11, 22, 33, 44]

In [16]:
tup = (1, 2, 3)
print(tup * 2)

(1, 2, 3, 1, 2, 3)

In [18]:
str2 = 'hello'
print(str2 * 3)

hellohellohello

#### 3.2. Cautions for iterating sequence objects

In [19]:
range(10) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

#### 3.3. Conversion of the type for range data type iteration

In [20]:
ran = list(range(5)) * 3
print(ran)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [24]:
ran = tuple(range(5)) * 3
print(ran)

(0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4)

#### 3.4 Cautions for using * operator

In [25]:
list1 = [11, 22, 33, 44]
list2 = [55, 66]
print(list1 * list2)

TypeError: can't multiply sequence by non-int of type 'list'

## 4. Calculating the Number of Specific Sequence Object Elements

#### 4.1. count method

In [26]:
list1 = [11, 11, 11, 22, 33, 44]
print(list1.count(11))  # Number of specific elements

3

In [27]:
tup1 = (11, 11, 11, 22, 33, 44)
print(tup1.count(11))   # Number of specific elements

3

In [28]:
str1 = 'hello world'
print(str1.count('l'))  # Number of specific elements

3

#### 4.2. count method example code

In [31]:
ran = range(0, 5, 1)
print(len(ran))
print(ran.count(2))

5
1

## 5. Using Sequence Object Index

#### 5.1. Index and sequence objects

#### 5.2. Indexing sequence objects

In [39]:
list1 = [11, 11, 11, 22, 33, 44]

In [40]:
list1[0]

11

In [41]:
list1[2]

11

In [42]:
str1 = 'hello world'

In [43]:
str1[2]

'l'

In [44]:
str1[7]

'o'

In [45]:
tup1 = (1, 1, 1, 2, 3, 3, 4)

In [46]:
tup1[3]

2

In [47]:
ran = range(0, 5, 1)
ran[4]

4

#### 5.4. Negative indexing of sequence objects

In [2]:
str1 = 'abcdef'
print(str1[-1])

f

In [3]:
print(str1[-6])

a

In [4]:
tup1 = (11, 22, 33, 44, 55, 66, 77)
print(tup1[-1])

77

In [5]:
print(tup1[-6])

22

#### 5.5. Negative indexing of sequence objects

In [6]:
ran = range(1, 7)
print(ran[-6])

1

In [7]:
print(ran[-1])

6

## 6. Applications of lens and range

#### 6.1. range example code

In [13]:
even_list = list(range(2, 11, 2))
print('even_list =', even_list)

even_list = [2, 4, 6, 8, 10]

In [14]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
list(range(2, 10, 3))

[2, 5, 8]

#### 6.2. len example code

In [17]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print('last element of nations :', nations[len(nations) - 1])

last element of nations : Malaysia

#### 6.3. ASCII code of the letter

In [28]:
a = ('A', 'B', 'C')
b = ('A', 'B', 'D')

In [29]:
ord('C')

67

In [33]:
ord('D')

68

In [31]:
a > b

False

In [34]:
a < b

True

#### Q1. Predict the result

In [40]:
t1 = 'a', 'b', 'c'
t2 = ('a', 'b', 'c')
t3 = ('d', 'e')

print(t1 == t2)
print(t1 > t3)
print(t1 < t3)
print(t2 + t3)
print([t2 + t3])
print(t1)

True
False
True
('a', 'b', 'c', 'd', 'e')
[('a', 'b', 'c', 'd', 'e')]
('a', 'b', 'c')

In [52]:
sale_record = (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)

sale_count = 0

for i in range(1, len(sale_record)):
    if sale_record[i] < sale_record[i - 1]:
        sale_count += 1
        print(sale_record[i])

print('Daily sales record:', sale_record)
print('Number if days had reduced sales:', sale_count)

120
120
125
Daily sales record: (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
Number if days had reduced sales: 3

## Let's Code

## 1. Tuple is an immutable object among sequence objects

#### 1.1. Definition of tuple

#### 1.2. How to create tuple

#### 1.3. Integer type tup variable

In [60]:
tup = (100)
print(tup)
print(type(tup))

(100,)
<class 'tuple'>

#### 1.4. Tuple type tup variable

In [61]:
tup = (100,)
print(tup)
print(type(tup))

(100,)
<class 'tuple'>

#### 1.5. Differences between tuple and list

In [62]:
t = (0, 1, 2, 3, 4)
t[0] = 100

TypeError: 'tuple' object does not support item assignment

#### 1.6. Packing and unpacking

## Packing

In [63]:
a = (1, 2)
a[0]

1

In [64]:
a[1]

2

## Unpacking

In [65]:
c = (3, 4)
x, y = c
x

3

In [66]:
y

4

#### 1.7. Swap

In [67]:
a = 100
b = 200
print('before swap : a =', a, 'b =', b)
temp = a
a = b
b = temp
print('after swap : a =', a, 'b =', b)

before swap : a = 100 b = 200
after swap : a = 200 b = 100

In [69]:
a = 100
b = 200
print('before swap : a =', a, 'b =', b)
a, b = b, a # very simple swap
print('after swap : a =', a, 'b =', b)

before swap : a = 100 b = 200
after swap : a = 200 b = 100

#### 1.8. How to sort tuple

In [70]:
tup = (1, 2, 5, 4, 3, 2, 9, 3, 7, 3, 9)
temp = list(tup)
temp.sort()
print(temp)

[1, 2, 2, 3, 3, 3, 4, 5, 7, 9, 9]

#### Q1. Return the element with the maximum number of occurences. When there are more than two frequent elements, print the highest number.

In [16]:
tup = (1, 2, 5, 4, 3, 2, 1, 9, 9, 3, 7, 3, 9)

# Convert it to list
sorted_list = list(tup)

# Sort list
sorted_list.sort()

max = 0
most_frequent_element = None

for i in range(len(sorted_list)):
    count = 0
    for j in range(i, len(sorted_list)):
        if sorted_list[i] == sorted_list[j]:
            count += 1
    if count > max:
        max = count
        most_frequent_element = sorted_list[i]
    elif count == max:
        if sorted_list[i] > most_frequent_element:
            most_frequent_element = sorted_list[i]

print('The most frequent element: {}'.format(most_frequent_element))

The most frequent element: 9

#### Q2. In the output example below, there are the tuples containing elements, as well as empty tuples, empty strings and empty lists that have no elements.
#### Write a code to remove these empty tuples, empty strings and empty lists from the given list below. (However, do not remove (,) tuple because it is considered as having one empty tuple.)

In [15]:
tuple1 = [(), (1,), [], 'abc', (), (), (1,), ('a',), ('a', 'b'), ((),), '']

new_tuple = []

for i in range(len(tuple1) - 1):
    # if the length of tuple1 is not empty
    if len(tuple1[i]) != 0:
        # Add to new new_tuple list
        new_tuple.append(tuple1[i])

# Print the new list of tuple
print('New List of Tuple: {}'.format(new_tuple))

New List of Tuple: [(1,), 'abc', (1,), ('a',), ('a', 'b'), ((),)]